.waterModal{   
}

.waterTitle{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.143;
  color: var(--text-color);
}

.waterText{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-color);
  margin-top: 24px;
}