.form {
  display: flex;
  flex-direction: column;
}

.btnContainer {
  position: relative;
}

.closeBtn {
  background-color: transparent;
  position: absolute;
  padding: 0;
  right: 16px;
  border: none;
  cursor: pointer;
  top: -20px;
}

.close {
  stroke: #2f2f2f;
  width: 24px;
  height: 24px;
}

.title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 50%;
  border: none;
  object-fit: cover;
}

.avatarPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #d9d9d9;
  color: #2f2f2f;
  font-size: 42px;
  font-weight: bold;
}

.uploadLabel {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 40px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.upload {
  stroke: #2f2f2f;
  fill: transparent;
}

.uploadInput {
  display: none;
}

.uploadBtn {
  background-color: transparent;
  color: #2f2f2f;
  border: none;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.labelGender {
  line-height: 20px;
  letter-spacing: -0.16px;
  margin-bottom: 14px;
}

.gender {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
  font-size: 14px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  line-height: 18px;
  letter-spacing: -0.14px;
  color: #2f2f2f;
  font-weight: 400;
}

.radioInput {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #9be1a0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
  margin: 0;
}

.radioInput:checked {
  border-color: #9be1a0;
  background-color: #fff;
}

.radioInput:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #9be1a0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.user {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.labelInform {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userInput {
  padding-top: 14px;
  padding-left: 16px;
  padding-bottom: 14px;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  outline: none;
  transition: border-color 0.3s;
}

.userInput:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.userInput:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.labelNorma {
  line-height: 20px;
  letter-spacing: -0.16px;
  margin-bottom: 14px;
  margin-top: 24px;
}

.formulaNorma {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subTitle {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
}

.formula {
  color: #9be1a0;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.14px;
}

.p {
  color: #9be1a0;
}

.normaInfo {
  color: rgba(47, 47, 47, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  padding: 16px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  margin-top: 14px;
  margin-bottom: 14px;
  min-width: 303px;
}

.time {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-bottom: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.waterInfo {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.waterInput {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  outline: none;
  transition: border-color 0.3s;
}

.waterInput:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.waterInput:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.waterIntake {
  color: #9be1a0;
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 14px;
}

.userIntake {
  letter-spacing: -0.16px;
}

.intake {
  display: flex;
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  outline: none;
  margin-bottom: 40px;
  margin-top: 8px;
  transition: border-color 0.3s;
}

.intake:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.intake:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.save {
  padding: 14px 40px;
  border-radius: 30px;
  background: var(--Accent, #9be1a0);
  border: none;
  max-width: 116px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.save:hover {
  background: #87d28d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .closeBtn {
    top: 0px;
  }

  .close {
    stroke: #2f2f2f;
    width: 28px;
    height: 28px;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
  }

  .avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .avatar {
    border-radius: 50%;
    border: none;
    object-fit: cover;
  }

  .avatarPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #d9d9d9;
    color: #2f2f2f;
    font-size: 42px;
    font-weight: bold;
  }

  .uploadLabel {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 40px;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .upload {
    stroke: #2f2f2f;
    fill: transparent;
  }

  .uploadInput {
    display: none;
  }

  .uploadBtn {
    background-color: transparent;
    color: #2f2f2f;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }

  .labelGender {
    line-height: 20px;
    letter-spacing: -0.16px;
    margin-bottom: 14px;
  }

  .gender {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
    font-size: 14px;
  }

  .radioLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    line-height: 18px;
    letter-spacing: -0.14px;
    color: #2f2f2f;
    font-weight: 400;
  }

  .radioInput {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #9be1a0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s;
    margin: 0;
  }

  .radioInput:checked {
    border-color: #9be1a0;
    background-color: #fff;
  }

  .radioInput:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #9be1a0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .user {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .labelInform {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .userInput {
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 14px;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(47, 47, 47, 0.15);
    outline: none;
    transition: border-color 0.3s;
  }

  .userInput:active {
    border: 1px solid rgba(47, 47, 47, 0.4);
  }

  .userInput:focus {
    border: 1px solid rgba(47, 47, 47, 0.4);
  }

  .labelNorma {
    line-height: 20px;
    letter-spacing: -0.16px;
    margin-bottom: 14px;
    margin-top: 24px;
  }

  .formulaNorma {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .subTitle {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
  }

  .formula {
    color: #9be1a0;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.14px;
  }

  .p {
    color: #9be1a0;
  }

  .normaInfo {
    color: rgba(47, 47, 47, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
    padding: 16px;
    border-radius: 15px;
    border: 1px solid rgba(47, 47, 47, 0.15);
    margin-top: 14px;
    margin-bottom: 14px;
    min-width: 303px;
  }

  .time {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
    margin-bottom: 24px;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
  }

  .waterInfo {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .waterInput {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    border-radius: 15px;
    border: 1px solid rgba(47, 47, 47, 0.15);
    outline: none;
    transition: border-color 0.3s;
  }

  .waterInput:active {
    border: 1px solid rgba(47, 47, 47, 0.4);
  }

  .waterInput:focus {
    border: 1px solid rgba(47, 47, 47, 0.4);
  }

  .waterIntake {
    color: #9be1a0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 14px;
  }

  .userIntake {
    letter-spacing: -0.16px;
  }

  .intake {
    display: flex;
    display: block;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    border-radius: 15px;
    border: 1px solid rgba(47, 47, 47, 0.15);
    outline: none;
    margin-bottom: 40px;
    margin-top: 8px;
    transition: border-color 0.3s;
  }

  .intake:active {
    border: 1px solid rgba(47, 47, 47, 0.4);
  }

  .intake:focus {
    border: 1px solid rgba(47, 47, 47, 0.4);
  }

  .save {
    padding: 14px 40px;
    border-radius: 30px;
    background: var(--Accent, #9be1a0);
    border: none;
    max-width: 116px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1440px) {
}
