.mainInfoButton {
  border: none;
  border-radius: 30px;
  padding: 14px 20px;
  min-width: 143px;
  height: 46px;
  background-color: var(--text-color);
  color: var(--background-white);
  transition: color 250ms ease-in;
}

.mainInfoButton:hover,
.mainInfoButton:focus {
  cursor: pointer;
  color: var(--bg-component-green);
}

.mainInfoButton:hover .plus,
.mainInfoButton:focus .plus {
  stroke: var(--bg-component-green);
}

.mainInfoButton .textContainer {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mainInfoButton .spanContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainInfoButton .plus {
  fill: transparent;
  stroke: var(--background-white);
  transition: stroke 250ms ease-in;
}

.dailyInfo {
  min-width: 124px;
  height: 30px;
  padding: 0;
}

.dailyInfo .plus {
  fill: transparent;
  stroke: var(--text-color);
  transition: stroke 250ms ease-in;
}

.dailyInfo:hover .plus,
.dailyInfo:focus .plus {
  fill: transparent;
  stroke: var(--background-white);
}
.dailyInfo:hover .spanContainer,
.dailyInfo:focus .spanContainer {
  background-color: var(--text-color);
}

.dailyInfo .spanContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-component-green);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  transition: background-color 250ms ease-in;
}

.dailyInfo .textContainer {
  font-family: "Poppins", sans-serif;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .mainInfoButton {
    padding: 18px 30px;
    min-width: 178px;
    height: 60px;
  }

  .mainInfoButton .textContainer {
    font-size: 16px;
    line-height: 24px;
  }

  .dailyInfo .textContainer {
    font-size: 16px;
    line-height: 24px;
  }

  .dailyInfo .plus {
    width: 18px;
    height: 18px;
  }

  .mainInfoButton .plus {
    width: 18px;
    height: 18px;
  }
}
