.popoverContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 15px;
  padding: 14px 57px 14px 20px;
  width: 137px;
  height: 72px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 8px;
}

.popoverBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 18px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  padding: 4px;
}

.popoverBtn:hover {
  border-bottom: 1px solid;
  border-color: #2f2f2f;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.popoverIcons {
  margin-right: 4px;
  fill: transparent;
  stroke: black;
  transition: transform 0.6s ease;
}

.rotated {
  transform: rotate(360deg);
}
