.popoverContainer {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 137px;
  gap: 8px;
  border-radius: 15px;
  padding: 14px 57px 14px 20px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transform: scale(0.94);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popoverContainer.visib {
  opacity: 1;
  transform: scale(1.05);
}

.popoverBtn {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  transition: color 0.3s ease;
}

.popoverIcons {
  fill: transparent;
  stroke: var(--text-color);
  transition: transform 0.6s ease, stroke 0.3s ease;
}

.popoverBtn:hover {
  color: var(--modal-backdrop);
}

.popoverBtn:hover .popoverIcons {
  stroke: var(--modal-backdrop);
}

.rotated {
  transform: rotate(180deg);
}

.popoverBtnLogout {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: var(--dark-gray-calendar);
  transition: color 0.3s ease;
}

.iconsLogout {
  fill: transparent;
  stroke: var(--dark-gray-calendar);
  transition: transform 0.6s ease, stroke 0.3s ease;
}

.popoverBtnLogout:hover {
  color: var(--modal-backdrop);
}

.popoverBtnLogout:hover .iconsLogout {
  stroke: var(--modal-backdrop);
}

@media screen and (min-width: 768px) {
  .popoverContainer {
    width: 157px;
    position: absolute;
    top: 65px;
    left: 0;
  }
}
