.subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
    color: var(--text-color);
}


.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: var(--black);
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    
}

.iconButton {
    background-color: transparent;
    border-radius: 30px;
    padding: 0;
    height: 40px;
    cursor: pointer;
    transition: color 250ms ease-in;
}


.icon {
    width: 40px;
    height: 40px;
    stroke: var(--bg-btn-dark-gray);
    fill: none;
}

.iconButton:hover .icon {
    opacity: 0.7;
    transition: 250ms ease-in;
}

.amountValue {
    padding: 11px 20px;
    height: 40px;
    background-color: var(--bg-btn-dark-gray);;
    border-radius: 30px;
    color: var(--background-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    font-family: Poppins;
}

.timelabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: var(--black);
    margin-bottom: 8px;
    display: block;
}

.input {
    border-radius: 15px;
    border: 1px solid rgba(47, 47, 47, 0.15);
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 24px;
    outline: none;
    transition: border-color 0.3s ease;
    color: var(--black);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.14px;
}

.input:hover,
.input:focus {
    outline: none;
    border-color: var(--bg-component-green);
}

.valuelabel {
    display: inline-block;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.16px;
    margin-bottom: 8px;
}

.wrappBtn {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
} 

.submit, .cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 116px;
    height: 46px;
    border: none;
    transition: 250ms ease-in;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--dark-gray-calendar);
    cursor: pointer;
}

.submit {
    background-color: var(--bg-component-green);
    color: var(--text-color);

    &:hover {
        background-color: var(--bg-component-dark-green);
    }
}

.submit:disabled {
    background-color: transparent;
    color: transparent;
    cursor: not-allowed;
    position: relative;
}

.cancel {
    background-color: var(--bg-component-gray);
    color: var(--dark-gray-calendar);

    &:hover {
        color: var(--text-color);
    }
}

@media screen and (min-width: 768px) {

    .subtitle, .valuelabel {
        font-size: 18px;
        line-height: 133%;
    }


    .label, .timelabel {
        font-size: 16px;
        line-height: 1.5;
    }

    .icon {
        width: 43px;
        height: 43px;
    }

    .amountValue {
        min-width: 92px;
        height: 43px;
        font-size: 15px;
        line-height: 1.49;
    }

    .submit, .cancel {
        width: 141px;
        height: 60px;
        border: none;
        font-size: 16px;
        line-height: 1.5;
    }

    .input {
        height: 56px;
        font-size: 16px;
        line-height: 1.5;
    }
}