.containerWapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.rightSection {
  display: none;
  position: relative;
}

/* media 1158px */
@media (min-width: 1440px) {
  .rightSection {
    display: block;
  }
}
