.modalWrapp {
    width: 344px;
    padding: 40px 14px;
}

.titleLogout {
    font: 700 20px / 1.2 "Poppins", sans-serif;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--bg-btn-dark-gray);
}

.textLogout {
    margin-top: 16px;
    font: 400 14px / 1.28571 "Poppins", sans-serif;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--bg-btn-dark-gray);
}

.btnLogout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 30px;
    padding: 14px 129px;
    width: 304px;
    height: 46px;
    background: #9be1a0;
    border: none;
    font: 700 14px / 1.28571 "Poppins", sans-serif;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--bg-btn-dark-gray);
    margin-top: 28px;
    white-space: nowrap;
    cursor: pointer;
}

.btnCancel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 30px;
    padding: 14px 126px;
    width: 304px;
    height: 46px;
    background: #f0eff4;
    font: 700 14px / 1.28571 "Poppins", sans-serif;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(50, 63, 71, 0.3);
    margin-top: 9px;
    border: none;
    cursor: pointer;
}

.btnCancel:hover,
.btnCancel:focus {
    color: var(--bg-btn-dark-gray);
}
