.modalContent {
  padding: 40px 20px;
  max-width: 342px;
  height: 80vh;
  overflow-y: auto;
}

.title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.28px;
  margin-bottom: 20px;
}
.modalContent::-webkit-scrollbar {
  width: 8px;
  height: 80vh;
}
.modalContent::-webkit-scrollbar-thumb {
  background-color: var(--bg-component-gray);
  border-radius: 4px;
}

.modalContent::-webkit-scrollbar-track {
  background-color: var(--background-white);
  border-radius: 4px;
}
.modalContent::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modalContent {
    max-width: 648px;
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .modalContent {
    max-width: 920px;
  }
  .title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.28px;
  }
}
