.leftSection {
  background-color: var(--bg-component-gray);
  padding: 16px 24px;
  border-radius: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
}

.brand {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.card {
  margin: 0 auto;
  margin-top: 113px;
  max-width: 436px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--text-color);
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  position: relative;
}

.label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--black);
  margin-bottom: 8px;
}

.input {
  width: 100%;
  border: 1px solid var(--modal-backdrop);
  border-radius: 15px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--modal-backdrop);
  transition: border-color 0.3s ease;
}

.input.error {
  border-color: var(--input-red);
  color: var(--input-red);
}

.input.success {
  border-color: var(--bg-component-green);
}

.input:focus {
  border-color: var(--bg-component-green);
  outline: none;
}

.errorMessage {
  color: var(--input-red);
  font-size: 12px;
  margin-top: 4px;
}

.passwordWrapper {
  display: flex;
  align-items: center;
}

.togglePassword {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -40px;
  font-size: 16px;
}

.submitButton {
  background-color: var(--bg-component-green);
  color: var(--text-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  border-radius: 30px;
  padding: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #45a049;
}

.footerText {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--modal-backdrop);
}

.signupLink {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black);
  margin-left: 5px;
}

.signupLink:hover {
  text-decoration: none;
}

.buttonWrapperGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 2px solid var(--bg-component-green);
  border-radius: 30px;
  padding: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease,
    background-color 0.3s ease;
  transform: scale(1);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.googleButton:hover {
  transform: scale(1.1);
  border: 2px solid #53b8ef;
  background-color: rgba(83, 184, 239, 0.4);
  box-shadow: 0 4px 30px rgba(83, 184, 239, 0.2);
}

@keyframes cloudAnimation {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-10px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-40px) scale(1);
    opacity: 0;
  }
}

.googleButton::before,
.googleButton::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  animation-timing-function: ease-in-out;
}

.googleButton:hover::before,
.googleButton:hover::after {
  opacity: 1;
  animation: cloudAnimation 2s infinite;
}

.googleButton::before {
  width: 80px;
  height: 40px;
  left: 10%;
  bottom: 10%;
  border-radius: 50% 40% 60% 30%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  animation-delay: 0s;
}

.googleButton::after {
  width: 90px;
  height: 50px;
  right: 10%;
  bottom: 10%;
  border-radius: 40% 50% 30% 60%;
  background: radial-gradient(
    circle at 40% 40%,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  animation-delay: 0.5s;
}

.googleIcon {
  width: 24px;
  height: 24px;
  display: block;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.googleButton:hover .googleIcon {
  animation: googleDoor 1s forwards;
}

@keyframes googleDoor {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(30px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

.googleIcon::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 60px;
  background: #fff;
  border: 2px solid #53b8ef;
  border-radius: 5px;
  bottom: -10px;
  left: calc(50% - 20px);
  z-index: 1;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.googleButton:hover .googleIcon::after {
  opacity: 1;
  transform: scale(1);
}

/* media 768px  */
@media (min-width: 768px) {
  .leftSection {
    padding: 32px;
    /* width: 672px; */
    width: 100%;
    height: 736px;
  }
}
